[newrelic]
newrelic.license = "{{ newrelic_license_key }}"
newrelic.appname = "{{ newrelic_application_name }}"
newrelic.daemon.logfile = "/var/log/newrelic-daemon.log"
newrelic.daemon.port = "@newrelic-daemon"
